@{
    ViewData["Title"] = "Sobre";
}
    <section class="sobre">
        <div class="center">
            <div class="texto-depoimento">
                <h3>
                    Nosso sistema ajuda a professores de academias a gerenciar suas fichas e poder gerar rapidamente exercícios para seus alunos personalizados.
                </h3>
                
            </div>
            <div class="img-depoimento">
                <img src="~/Imagens/depoimento.png" width="400" height="400" />               
            </div>
        </div>
    </section>
    <table class="table striped hover highlight">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Ra
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Eleni Oliveira
                </td>
                <td>
                    082180021
                </td>
            </tr>
            <tr>
                <td>
                    Humberto Gonzaga da Silveira
                </td>
                <td>
                    082180036
                </td>
            </tr>
            <tr>
                <td>
                    João Guilherme de Souza
                </td>
                <td>
                    082180030
                </td>
            </tr>
            <tr>
                <td>
                    João Vitor Luques Rocha
                </td>
                <td>
                    082180024
                </td>
            </tr>
            <tr>
                <td>
                    Luis Gustavo de Souza Santos
                </td>
                <td>
                    082190041
                </td>
            </tr>
            <tr>
                <td>
                    Priscila Alves de Lima
                </td>
                <td>
                    082180014
                </td>
            </tr>
        </tbody>
    </table>

    <style>
        .texto-depoimento {
            float: left;
            width: 50%;
        }

            .texto-depoimento h3 {
                color: #535b6c;
                font-size: 33px;
                font-weight: normal;
            }


        .img-depoimento {
            float: left;
            width: 50%;
        }

            .img-depoimento img {
                max-width: 100%;
            }
        .img-depoimento,
        .texto-depoimento {
            width: 100%;
            margin-bottom: 20px;
            text-align: center;
        }
    </style>